<figure>
  <div id="info">
    <img src="/images/profile.png" alt="profile" title="paul kuttiya" />
    <a href="/images/myw3schoolsimage.jpg" download>
      <i class="fa fa-file-text-o"></i>
      Resume
    </a>
    <a href="/images/myw3schoolsimage.jpg" download>
      <i class="fa fa-file-text-o"></i>
      Cover Letter
    </a>
    <a href="mailto:w.kuttiya@gmail.com?Subject=Portfolio%20contact" target="_top" title="w.kuttiya@gmail.com">
      <i class="fa fa-envelope"></i>
      Email
    </a>
  </div>
  <section>
    <article>
      <h4>Language: </h4>
      {{#each profile.language}}
        <span class="icon">{{{tag this}}}</span>
      {{/each}}
    </article>
    <article>
      <h4>Template: </h4>
      {{#each profile.template}}
        <span class="icon">{{{tag this}}}</span>
      {{/each}}
    </article>
    <article>
      <h4>Library: </h4>
      {{#each profile.library}}
        <span class="icon">{{{tag this}}}</span>
      {{/each}}
    </article>
    <article>
      <h4>Platform: </h4>
      {{#each profile.platform}}
        <span class="icon">{{{tag this}}}</span>
      {{/each}}
    </article>
    <article>
      <h4>Database: </h4>
      {{#each profile.database}}
        <span class="icon">{{{tag this}}}</span>
      {{/each}}
    </article>
    <article>
      <h4>Frameworks: </h4>
      {{#each profile.frameworks}}
        <span class="icon">{{{tag this}}}</span>
      {{/each}}
    </article>
    <article>
      <h4>Tools: </h4>
      {{#each profile.tools}}
        <span class="icon">{{{tag this}}}</span>
      {{/each}}
    <article>
  </section>
</figure>