<ul>
  {{#each projects}}
  <li data-project_id="{{id}}">
    <label for="modal-{{id}}">
      <div class="cover">
        <img src={{image}} alt="project_img">
        <span>{{title}}</span>
      </div>
    </label>
    <input class="modal-state" id="modal-{{id}}" type="checkbox" />
    {{> project_modal}}
  </li>
  {{/each}}
</ul>