<ul>
  {{#each projects}}
  <li data-project_id="{{id}}">
    <label for="modal-{{id}}">
      <img src={{image}} alt="project_img">
      <h3>{{title}}</h3>
    </label>
    <input class="modal-state" id="modal-{{id}}" type="checkbox" />
    {{> project_modal}}
  </li>
  {{/each}}
</ul>