<div class="modal">
  <div class="modal__inner">
    <div class="modal_content">
      <label class="modal__close" for="modal-{{id}}">X</label>
      <img id="modal_cover" src={{image}} alt="project_img" />
      <section>
        <article>
          <h4>Project:</h4>
          <p>{{title}}</p>
        </article>
        <article>
          <h4>Technologies:</h4>
            <p>
            {{#each tags}}
              <span class="icon">{{{tag this}}}</span>
            {{/each}}
            </p>
        </article>
        <article>
          <h4>Details:</h4>
          <p>{{details}}</p>
        </article>
        <article>
          <h4>App live visit:</h4>
          <a href="{{url}}" alt="git" target="_blank">
            <i class="fa fa-link"></i>
            Heroku
          </a>
        </article>
        <article>
          <h4>Code review:</h4>
          <a href="{{github}}" alt="git" target="_blank">
            <i class="profile fa fa fa-github"></i>
            Github
          </a>
        </article>
      </section>
    </div>
  </div>
</div>